.new-challenge-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.new-challenge-button {
  width: 20rem;
}

.challenge-picture {
  width: 10em;
  border-radius: 10%;
  height: 10em;
  object-fit: cover;
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.challenge-block {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 30% 70%;
  width: 60%;
  margin: auto;
  align-items: center;
  text-align: left;
  background-color: rgba(255,255,255, 0.7);
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 1rem;
}

.h3-challenge {
    color: #F05151;
}

.challenge-descr {
  font-size: 3rem;
  margin: 0;
  color: #F05151;
}

/* .find-challenge {
    align-items: center;
    justify-content: center;
} */
