* {
  /* border: 1px solid blue; */
}
.newchallenge-page {
  width: 100vw;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.new-challenge-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: 2rem;
  width: 60%;
  margin: auto;
}

.chall-label {
  display: grid;
  grid-template-columns: 50% 50%;
  font-family: "Pompiere", cursive;
  font-size: 2rem;
  color: white;
  width: 40rem;
  text-align: right;
  gap: 1rem;
  padding-right: 6rem;
  /* background-color: rgba(255, 255, 255, .2); */
  /* padding: 1rem; */
}

.chall-label input, .chall-label select {
  border-radius: 2rem;
  border: none;
  padding: 1rem;
  width: 15rem;
  font-family: "Pompiere", cursive;
  font-size: 1.5rem;
}

.labeltext {
  /* padding-right: 2rem; */
  align-self: center;
}


.challenge-picture {
  width: 10em;
  border-radius: 10%;
  height: 10em;
  object-fit: contain;
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;
}

.challenge-list{
  width: 100%;
}

.challenge-block {
  display: grid;
  grid-template-columns: 10rem 6fr 2fr;
  grid-template-rows: 1.6rem 1rem 3fr 5fr;
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 1rem;
  min-width: 600px;
}

.h3-challenge {
  color: #f05151;
  padding-left: 2rem;
  align-self: center;
  text-align: left;
  grid-row: 1 / span 1;
}

.challenge-descr,
.challenge-complete {
  font-size: 1.5rem;
  margin: 0;
  color: #f05151;
}

.challenge-descr {
  grid-column: 2 / span 1;
  grid-row: 2 / span 3;
  align-self: baseline;
  padding: 0 2rem;
  padding-top: 0.5rem;
  text-align: left;
  width: auto;
  margin-top: 2px;
}

@import url("https://use.typekit.net/tnt5bwz.css");

.dashboard-h1 {
  padding: 3rem;
  font-family: "asphalt", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: white;
  font-stretch: extra-expanded;
  font-size: 2.75rem;
  letter-spacing: 0.1rem;
}

hr {
  width: 80%;
  height: 0.3rem;
  color: blue;
  margin: auto;
  margin-top: 1rem;
  background-image: url("https://res.cloudinary.com/dpsymdmyi/image/upload/v1694216684/hr-line-white_mwvizb.svg");
  background-repeat: repeat-x;
  background-size: contain;
  border: none;
}

.completed-righttop {
  /* grid-row: 1 / span 2; */
  font-size: 3rem;
  margin: 0;
  color: #f05151;
  display: inline;
}

.completed-and-check {
  grid-row: 1 / span 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.youdidit-righttop {
  grid-row: 1 / span 3;
  font-size: 3rem;
  margin: 0;
  color: #f05151;
  font-family: "hobeaux", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.profile-viewchallenge {
  grid-row: 1 / span 4;
  padding: 1rem 0rem;
  width: 70%;
  margin: auto;
  font-size: 1.2rem;
  font-family: "Pompiere", cursive;
  
}

.viewchallenge-button,
.checkmark-button,
.profile-viewchallenge {
  /* padding: 15px 25px; */
  /* font-size: 24px; */
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #f05151;
  box-shadow: 0 5px #c44242;
  border: none;
  border-radius: 15px;
}

.viewchallenge-button:active,
.checkmark-button:active,
.profile-viewchallenge:active {
  box-shadow: none;
  transform: translateY(5px)
}

.viewchallenge-button {
  padding: 1rem 1rem;
  width: auto;
  margin: auto;
  grid-row: 4 / span 1;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.checkmark-button {
  /* padding: 1rem 1rem; */
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
  display: inline;
  /* grid-row: 3 / span 1; */
}

.challenge-creator{
  font-size: 1.5rem;
  margin-top: 8px;
  color: #f05151;
  grid-column: 1 / span 1;
}

.daily {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  width: 90%;
  font-size: 3rem;
  margin: auto;
  border-radius: 1rem;
}

.daily-challenge-component {
  border: 5px solid;
  padding: 15px 0px;
  border-image: url("https://res.cloudinary.com/dpsymdmyi/image/upload/v1694216684/hr-line-white_mwvizb.svg")
    200 round;
}

.pagination-container{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  width: 200px;
  margin: 0 auto;
  list-style: none;
margin-top: 30px;
}


.active-page{
  text-decoration: underline;
}

.pointer{
  cursor: pointer
}

@media screen and (max-width: 700px){
.challenge-descr{

  margin-top: 12px;
}


}

.submitphoto-Challenge {
  grid-column: 3 / span 1;
  grid-row: 1 / span 5;
  text-align: center;
  margin: 0;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.submitChallenge-label {
  /* background-color: blue; */
  margin-left: 30px;
}

.submitchallenge-button {
  background-color: green;
}