*{
    /* border: 1px solid red */
  }


.profile-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
}
.user-picture {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.h2-header {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: white;
}

.h3-header {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-family: "hobeaux", sans-serif;
    font-weight: 900;
    font-style: normal;
}


.white{
    color: white;
}


.profile-page>.challenge-list{
    width: 60vw;
}

.edit-profile{
    width: 100px;
    margin: 25px auto;
}