.sidenav {
  width: 250px;
  transition: width 0.3s ease-in-out;
  height: 100vh;
  background-color: white;
  padding-top: 28px;
}

.sidenavClosed {
  height: 100vh;
  transition: width 0.3s ease-in-out;
  width: 0px;
  backgrond-color: white;
}

.sideitem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  color: #f05151;
  text-decoration: none;
}

.linkText {
  padding-left: 16px;
}

.linkTextClosed {
  visibility: hidden;
  display: none;
}

.sideitem:hover {
  background: linear-gradient(45deg, #fad95d, #ef4036);
  color: white;
}

.menuBtn {
  align-self: center;
  align-self: flex-start;
  justify-self: flex-end;
  color: #b2bac2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 20px;
}

.hamburger-open,
.hamburger-closed {
  width: 5rem;
}

.hamburger-closed {
  margin-top: 1.7rem;
  margin-left: 1.7rem;
}
