.App {
  background: linear-gradient(45deg, #fad95d, #ef4036);
  height: 100vh;
  width: 100vw;
  border: none;
  text-align: center;
  padding: none;
  display: flex;
  flex-direction: column;
}

@import url("https://use.typekit.net/tnt5bwz.css");
.kindr-header {
  font-family: "asphalt", sans-serif;
  font-weight: 800;
  font-style: normal;
  /* color: white; */
  font-size: 4rem;
  letter-spacing: 0.1rem;
  font-stretch: extra-expanded;
  
}


