*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid green; */
}


.App {
  background: linear-gradient(45deg, #fad95d, #ef4036);
  min-height: 100vh;
  height: 100%;
  width: 100%;
  border: none;
  text-align: center;
  padding-bottom: 5rem;
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10rem 1fr;
  align-items: center;
  /* justify-content: center; */
  justify-items: center;
}

@import url("https://use.typekit.net/tnt5bwz.css");
.kindr-header {
  font-family: "asphalt", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: white;
  font-stretch: extra-expanded;
}

.body-font{
    font-family: "looking-flowers-caps", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header-page {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.routes{
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  align-self: baseline;
}

.nav {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
  align-self: baseline;
  position: fixed;
  left: 0;
}
