*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid green; */
}


.App {
  background: linear-gradient(45deg, #fad95d, #ef4036);
  /* min-height: 100vh; */
  height: 100%;
  width: 100%;
  border: none;
  text-align: center;
  padding-bottom: 5rem;
  margin: 0;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10rem 1fr;
  align-items: center;
  /* justify-content: center; */
  justify-items: center;
}

@import url("https://use.typekit.net/tnt5bwz.css");
.kindr-header {
  font-family: "asphalt", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: white;
  font-stretch: extra-expanded;
}

.body-font{
    font-family: "looking-flowers-caps", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header-page {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.routes{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  align-self: baseline;
}

.nav {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
  align-self: baseline;
  position: fixed;
  left: 0;
}

.sidenav {
  width: 250px;
  transition: width 0.3s ease-in-out;
  height: 100vh;
  background-color: rgb(10,25,41);
  padding-top: 28px;
}

.sidenavClosed {
  transition: width 0.3s ease-in-out;
  width: 60px
}

.sideitem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  color: #B2BAC2;
  text-decoration: none;
}

.linkText {
  padding-left: 16px;
}

.linkTextClosed {
  visibility: hidden;
}

.sideitem:hover {
  background-color: #244f7d1c;
}

.menuBtn {
  align-self: center;
  align-self: flex-start; 
  justify-self: flex-end;
  color: #B2BAC2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 20px;
}