@import url("https://use.typekit.net/tnt5bwz.css");

.header-page {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("https://res.cloudinary.com/dpsymdmyi/image/upload/v1694204679/cloud-header_uktbi1.svg");
  background-repeat: repeat-x;
  background-size: contain;
  filter: drop-shadow(2px 0px 10px #b12f28);
  z-index: 3;
  padding-bottom: 48px;
}



.header-page a {
  grid-column: 2/3;
}

.kindr-nav {
  font-size: 4rem;
  letter-spacing: 0.1rem;
  color: rgba(243, 20, 9, 0.8);
  text-shadow: 0px 4px 4px #fff, 0 0 0 #000;
  font-size: 6rem;
  text-align: center;
}

.user-header {
  display: flex;
  align-items: center;
  grid-column: 3/4;
}

header img {
  width: 72px;
  display: inline;
}

#user-header-score {
  margin: 0;
  display: inline;
  margin-left: 12px;
  height: fit-content;
  padding: 0;
}

@media screen and (max-width: 1100px) {
  #user-header-score {
    font-size: 24px
  }

  header img {
    width: 48px;
  }
}

@media screen and (max-width: 750px) {
  #kindr-header-title {
    font-size: 2.5rem;
  }
}


@media screen and (max-width: 500px) {
  #kindr-header-title {
    font-size: 1.5rem;
  }

  .user-header {
    flex-direction: column;
  }
}