@import url("https://use.typekit.net/tnt5bwz.css");
.kindr-nav {
  font-size: 4rem;
  letter-spacing: 0.1rem;
  padding-bottom: 35px;
  color: rgba(243, 20, 9, 0.8);
  text-shadow: 0px 4px 4px #fff, 0 0 0 #000;
  font-size: 6rem;
  margin-bottom: 1rem;
  text-align: center;
}
