.welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 65vh;
    margin-top: 50px;
}

.welcome-body {
    font-size: 1.5rem;
    color: white;
    width: 60%;
    margin: 2rem auto 0 auto;
}

.welcome-emphasize {
    font-size: 1.75rem;
    color: white;
    margin-top: 3rem;
}